<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Hello user page</title>
</head>
<body>
    <h2>Hello </h2>

    Welcome to our site dear <b><span sec:authentication="name">Username</span></b><br>
<!--    <div th:text="${#authentication.name}">Username</div><br>-->

    <div sec:authorize="isAuthenticated()">
        Text visible only to authenticated users.
    </div><br>
</body>
</html>